body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    width: 95%; 
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 20px; 
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 15px; 
    text-align: center;
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="date"] {
    width: 250px;
    height: 40px; 
    font-size: 18px; 
    padding: 5px;
}

select {
    width: 30px;
    height: 30px;
    font-size: 14px;
}

button {
    margin: 10px;
    padding: 12px 20px;
    font-size: 18px;
    background-color: blue;
    color: White;
    font-weight: bold;
}

canvas {
    width: 500px !important; 
    height: 500px !important;
}

.chart-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
}




